<suite name="Automation - Suite" >
	<test name ="FirefoxTest">
	<parameter name="browser" value="firefox.exe" />
		<classes>
		    <class name="automationFramework.TestCases.CreateCustomerTest" />
		    <class name="automationFramework.TestCases.SearchTest" />
		    <class name="automationFramework.TestCases.CreateFundingTest" />    
		    <class name="automationFramework.TestCases.LinkAccountTest" />  
		    <class name="automationFramework.TestCases.BalanceHistoryTest" />  
		    <class name="automationFramework.TestCases.EmailTest" />  
		    <class name="automationFramework.TestCases.CreateOrderTest" />  
		    <class name="automationFramework.TestCases.TravelHistoryTest" /> 
		</classes>
	</test>
		<listeners>
       <listener class-name="org.uncommons.reportng.HTMLReporter"/>
      <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
  </listeners>
</suite>