<suite name="Automation - Suite" >
	<test name ="ChromeTest">
	<parameter name="browser" value="chrome.exe" />
		<classes>
		    <class name="automationFramework.TestCases.VentraCardTest" /> 
		    <class name="automationFramework.TestCases.GroupSalesTest" /> 
		    <class name="automationFramework.TestCases.TransitBenefitsTest" /> 
		</classes>
	</test>
		<listeners>
       <listener class-name="org.uncommons.reportng.HTMLReporter"/>
      <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
  </listeners>
</suite>